.stack-work/*
*~
*#
/dist
\#*#
.#*
/dist-newstyle
cabal.project.local
data/topoJSON/*.json
*.png
TAGS
.ghc*
bench/*.html
report.html
examples/html
house_model
*.prof
*.hp
*.hpp
*.ps
*.aux
*.png
.Rdata
.Rhistory
.DS_Store
reports/MRP/data
.knit-haskell-cache
.flat-kh-cache
bigData
/posts
**/draft/*.html
**/draft/*/*.html
testbed/*.csv
GA.html
stan.html
/stan/house/*
/stan/voterPref/*
stan/voterPref/*
stan/*/output
stan/*/data
stan/*/*_model
stan/*/*_loo
stan/*/*/output
stan/*/*/data
stan/*/*/*_model
stan/*/*/*_loo
georgia/stan
/*.html
/*.csv
/*.xlsx
/*.eventlog
br-2021-A/stan
stan/mrp
/hie.yaml
/.vscode/
