.stack-work/*
*~
*#
/dist
\#*#
.#*
/dist-newstyle
cabal.project.local
data/topoJSON/*.json
*.png
TAGS
.ghc*
bench/*.html
report.html
examples/html
house_model
*.prof
*.hp
*.hpp
*.ps
*.aux
*.png
.RData
.Rhistory
.DS_Store
reports/MRP/data
.knit-haskell-cache
.flat-kh-cache
stan+/*
bigData
**/draft/*.html
**/draft/*/*.html
testbed/*.csv
GA.html
stan.html
*.stan
*.hpp
output/*.csv
data/*.json
/*.html
/*.csv
/*.xlsx
/*.eventlog
br-2021-A/stan
stan/mrp
/hie.yaml
/.vscode/
/br-2021-NewMaps/stan/
/br-2021-NewMaps/stanF/
/.hie/
/br-2022-Demographics/stan/
/br-2022-Demographics/stanAge/
/br-2022-Demographics/stanEdu/
