.stack-work/*
*~
*#
/dist
\#*#
.#*
/dist-newstyle
cabal.project.local
data/topoJSON/*.json
*.png
TAGS
.ghc*
bench/*.html
report.html
examples/html
*.prof
*.hp
*.hpp
*.ps
*.aux
*.png
.Rdata
.Rhistory
reports/MRP/data
.knit-haskell-cache
bigData
posts
testbed/*.csv
GA.html
stan.html
/stan/house/*
stan/*/output
stan/*/data
stan/*/*_model
stan/*/*_loo
stan/*/*/output
stan/*/*/data
stan/*/*/*_model
stan/*/*/*_loo
/*.html
/*.csv
/*.xlsx
